# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Samsung_IT_School\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
